<!doctype html>
<html>
<head>
<title>Lightning Network Channel Optimizer</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
<meta name="description" content="Find your next channel. Optimize your node's connectivity  while promoting decentralization">
</head>
<body>
  <div class="form">
    <div class="form-text form-group">
        <label for="pubkey" class="form-text-label">Pubkey</label>
        <input type="text" name="pubkey" access="false" minlength="66" maxlength="66" id="pubkey">
    </div>
    <div class="form-number form-group">
        <label for="ppm" class="form-number-label">Fee PPM</label>
        <input type="number" name="ppm" access="false" min="0" max="1000000" step="1" id="ppm">
    </div>
    <div class="formbuilder-number form-group">
        <label for="budget" class="form-number-label">Total Budget (sats)</label>
        <input type="number" name="budget" min="0" access="false" id="budget">
    </div>
    <div class="form-number form-group">
        <label for="min-cap" class="form-number-label">Min Capacity</label>
        <input type="number" name="min-cap" min="0" access="false" id="min-cap">
    </div>
    <div class="form-number form-group"> 
        <label for="max-cap" class="form-number-label">Max Capacity</label>
        <input type="number" name="max-cap" min="0" access="false" id="max-cap">
    </div>
    <div class="form-number form-group">
        <label for="min-chan-count" class="form-number-label">Minimum Channel Count</label>
        <input type="number" name="min-chan-count" min="0" access="false" id="min-chan-count">
    </div>
    <div class="form-number form-group">
        <label for="min-avg-cap" class="form-number-label">Minimum Average Capacity</label>
        <input type="number" name="min-avg-cap" min="0" access="false" id="min-avg-cap">
    </div>
        <input type="button" value="Submit" id='smit' >

</div>
<div id="result">
    
</div>
</body>
</html>

<script src="{{ url_for('static', filename='script.js') }}" type="text/javascript"></script>
